
main {
    margin-top: 20px;
}

.container {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 26px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: left;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

button {
    background-color: #0056b3;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #004085;
}

input[type="hidden"] {
    display: none;
}

/* Centering the radio buttons and labels */
label {
    display: block;
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    button {
        padding: 10px;
    }

    input[type="radio"] {
        width: 18px;
        height: 18px;
    }

    label {
        font-size: 14px;
    }
}
